{% extends "LeimzUtilisateurBundle::layout.html.twig" %}

{% block title %}{{ 'profile.edit.title'|trans({}, 'LeimzUtilisateurBundle') }}{% endblock %}

{% block fos_user_content %}

    <h1 class="edit_profile_title title">{{ 'profile.edit.title'|trans({}, 'LeimzUtilisateurBundle') }}</div>


    <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
            
        <div class="edit_profile_item">

            {{ form_label(form.user.username, 'profile.edit.username'|trans({}, 'LeimzUtilisateurBundle')) }}
            {{ form_widget(form.user.username) }}
            {{ form_errors(form.user.username) }}

        </div>

        <div class="edit_profile_item">

            {{ form_label(form.user.email, 'profile.edit.email'|trans({}, 'LeimzUtilisateurBundle')) }}
            {{ form_widget(form.user.email) }}
            {{ form_errors(form.user.email) }}

        </div>

        <div class="edit_profile_item">

            {{ form_label(form.current, 'profile.edit.current'|trans({}, 'LeimzUtilisateurBundle')) }}
            {{ form_widget(form.current) }}
            {{ form_errors(form.current) }}

        </div>

            {{ form_rest(form) }}

        <div class="edit_profile_item edit_profile_submit">
            <input type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>

    </form>

    <p class="edit_profile_change_password_link">
        <a href="{{ path('fos_user_change_password') }}">{{ 'link.click.change_password'|trans({}, 'LeimzUtilisateurBundle') }}</a>
    </p>

{% endblock fos_user_content %}
