{% extends "LeimzUtilisateurBundle::layout.html.twig" %}


{% block title %}{{ 'profile.show.title'|trans({}, 'LeimzUtilisateurBundle') }}{% endblock %}


{% block fos_user_content %}

    <h1 class="title show_profile_title">{{ 'profile.show.title'|trans({}, 'LeimzUtilisateurBundle') }}</h1>

    <div class="profile_options">
        <a href="{{ path('fos_user_change_password') }}">{{ 'link.info.change_password'|trans({}, 'LeimzUtilisateurBundle') }}</a><br/>
        <a href="{{ path('modifier_complement') }}">{{ 'link.info.edit_profile'|trans({}, 'LeimzUtilisateurBundle') }}</a>
    </div>
    
    <div class="profile_avatar">
    	{% if user.complement.avatar is defined and user.complement.avatar != '' %}
    		{% if user.complement.typeAvatar == 0 %}
    			<img src="{{ user.complement.avatar }}" alt="avatar" title="avatar" width="120px" height= "120px"/>
    		{% elseif user.complement.typeAvatar == 1 %}
    			<img src="{{ asset('bundles/leimzutilisateur/images/avatars/' ~ user.complement.avatar ~ '.jpg') }}" alt="avatar" title="avatar" width="120px" height= "120px" />
    		{% endif %}
    	{% endif %}
    </div>
    

    <div class="fos_user_user_show">
        <p>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }} : {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }} : {{ user.email }}</p>
    
    	<div>
    		{% if user.complement.birthdate is defined and (user.complement.birthdate | date('d/m/Y')) != '30/11/-0001' %}
    			<p>Date de naissance : {{ user.complement.birthdate|date('d/m/Y') }}</p>
    		{% endif %}
    		{% if user.complement.sexe is defined and user.complement.sexe != 'null' %}
    			<p>Sexe : {% if user.complement.sexe == 0 %}Homme{% else %}Femme{% endif %}</p>
    		{% endif %}
    		{% if user.complement.signature is defined and user.complement.signature != '' %}
    			<p>Signature : <br/>{{ user.complement.signature | bbcode_filter('default_filter') }}</p>
    		{% endif %}
    		{% if user.complement.description is defined and user.complement.description != '' %}
    			<p>Description : {{ user.complement.description }}</p>
    		{% endif %}
		</div>
	</div>
{% endblock fos_user_content %}
