{% extends "LeimzUtilisateurBundle::layout.html.twig" %}

{% block title %}
    {% if user %}
        {{ 'profile.showMember.title'|trans({ '%username%': user.username }, 'LeimzUtilisateurBundle') }}
    {% else %}
        {{ 'profile.showMember.undefined.title'|trans({}, 'LeimzUtilisateurBundle') }}
    {% endif %}
{% endblock %}


{% block fos_user_content %}

    {% if user %}
        <h1 class="title show_profile_title">{{ 'profile.showMember.title'|trans({ '%username%': user.username }, 'LeimzUtilisateurBundle') }}</h1>
		
		 {% if is_granted('ROLE_SUPER_ADMIN') %}
        		<p>
        			<a href="{{ path('leimz_admin_lock_membre', { 'membre' : user.username } ) }}">{{ 'link.info.lock_membre'|trans({}, 'LeimzUtilisateurBundle') }}</a><br/>
        			<a href="{{ path('leimz_admin_modifierMembre', { 'membre' : user.username } ) }}">{{ 'link.info.edit_profile_member'|trans({}, 'LeimzUtilisateurBundle') }}</a>
        		</p>
        	{% endif %}
        	
        <div class="profile_avatar">
    	{% if user.complement.avatar is defined and user.complement.avatar != '' %}
    		{% if user.complement.typeAvatar == 0 %}
    			<img src="{{ user.complement.avatar }}" alt="avatar" title="avatar" width="120px" height= "120px"/>
    		{% elseif user.complement.typeAvatar == 1 %}
    			<img src="{{ asset('bundles/leimzutilisateur/images/avatars/' ~ user.complement.avatar ~ '.jpg') }}" alt="avatar" title="avatar" width="120px" height= "120px" />
    		{% endif %}
    	{% endif %}
        </div>              
        <div class="fos_user_user_show">
            <p>{{ 'profile.showMember.username'|trans({}, 'LeimzUtilisateurBundle') }} : {{ user.username }}</p>
            {% if user.complement.pubEmail is defined and user.complement.pubEmail == 1 %}
                <p>{{ 'profile.showMember.email'|trans({}, 'LeimzUtilisateurBundle') }} : {{ user.email }}</p>
            {% endif %}
            <p>{{ 'profile.showMember.last_login'|trans({}, 'LeimzUtilisateurBundle') }} : {{ user.lastLogin |date('d/m/Y à H:i') }}</p>
            
            <div>
    		{% if user.complement.birthdate is defined and (user.complement.birthdate | date('d/m/Y')) != '30/11/-0001' %}
    			<p>Date de naissance : {{ user.complement.birthdate|date('d/m/Y') }}</p>
    		{% endif %}
    		{% if user.complement.sexe is defined and user.complement.sexe != 'null' %}
    			<p>Sexe : {% if user.complement.sexe == 0 %}Homme{% else %}Femme{% endif %}</p>
    		{% endif %}
    		{% if user.complement.signature is defined and user.complement.signature != '' %}
    			<p>Signature : <br/>{{ user.complement.signature | bbcode_filter('default_filter') }}</p>
    		{% endif %}
    		{% if user.complement.description is defined and user.complement.description != '' %}
    			<p>Description : {{ user.complement.description }}</p>
    		{% endif %}
            </div>
        </div>
        
    {% else %}
        {{ 'profile.showMember.undefined.title'|trans({}, 'LeimzUtilisateurBundle') }}
    {% endif %}

{% endblock fos_user_content %}
