.admin_title{
margin-bottom: 25px;
}

.rechercheMembre_label{
float: left;
margin-left: 20px;
margin-right: 5px;
}

.rechercheMembre_submit{
float: right;
}

.rechercheMembre_form{
width: 400px;
margin-bottom: 20px;
}

.tableResults{
border-collapse: collapse;
border: 1px solid white;
width: 100%;
margin-bottom: 10px;
}

.resultsLine td{
padding: 4px 4px 10px 12px;
border: 1px solid white;
text-align: center;
}

#rolesMembreActuels{
margin-left: 50px;
margin-bottom: 20px;
}

#rolesMembre ul{
list-style: none;
margin-left: 20px;
}

#addingFormZone{
float: left;
width: 400px;
border-right: 2px solid white;
padding: 5px;
text-align: center;
}

#addingFormZone *{
padding: 1px;
}

#addingFormZone input[type="submit"]{
width: 110px;
margin-left: auto;
margin-right: auto;
margin-top: 5px;
}

#removingFormZone{
float: right;
width: 400px;
padding: 5px;
text-align: center;
}

#removingFormZone *{
padding: 1px;
}

#removingFormZone input[type="submit"]{
width: 150px;
margin-left: auto;
margin-right: auto;
margin-top: 5px;
}

#centerZone{
width: 0px;
height: 130px;
}

.links{
text-align: center;
}

.modificationMembre_label{
float: left;
width: 200px;
}

.modificationMembre_item{
margin-left: 20px;
margin-bottom: 5px;
}

#form_modification input[type="submit"]{
width: 250px;
margin-left: auto;
margin-right: auto;
}

.lock_membre_resume{
text-align: center;
margin-top: 20px;
margin-bottom: 5px;
}

#form_bloquage input[type="submit"]{
width: 100px;
padding-top: 1px;
padding-bottom: 1px;
margin-left: auto;
margin-right: auto;
}