.edit_profile_title{
margin-bottom: 25px;
}

.edit_profile_item{
margin-bottom: 8px;
}

.edit_profile_item label{
float: left;
width: 180px;
text-align: center;
}

.fos_user_profile_edit{
margin-left: 25%;
}

.edit_profile_submit{
margin-left: 25%;
}

.edit_profile_change_password_link{
margin-left: 25%;
}