.registration_item label{
float: left;
width: 160px;
}

.registration_item{
margin-bottom: 8px;
text-align: center;
}

.form_registration{
margin-left: 25%;
}

.registration_submit{
margin-left: 25%;
}

.registration_title{
margin-bottom: 25px;
}
