{% extends "LeimzUtilisateurBundle::layout.html.twig" %}

{% block title %}{{ 'change_password.title'|trans({}, 'LeimzUtilisateurBundle') }}{% endblock %}


{% block fos_user_content %}

    <h1 class="change_password_title title">{{ 'change_password.title'|trans({}, 'LeimzUtilisateurBundle') }}</h1>

    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    
        <div class="change_password_item">
            
            {{ form_label(form.current, 'change_password.current'|trans({}, 'LeimzUtilisateurBundle')) }}
            {{ form_widget(form.current) }}
            <div class="error">{{ form_errors(form.current) }}</div>
        
        </div>

        <div class="change_password_item">
            
            {{ form_label(form.new.first, 'change_password.new.first'|trans({}, 'LeimzUtilisateurBundle')) }}
            {{ form_widget(form.new.first) }}
            <div class="error">{{ form_errors(form.new.first) }}</div>
        
        </div>

        <div class="change_password_item">
            
            {{ form_label(form.new.second, 'change_password.new.second'|trans({}, 'LeimzUtilisateurBundle')) }}
            {{ form_widget(form.new.second) }}
            <div class="error">{{ form_errors(form.new.second) }}</div>
        
        </div>

        {{ form_rest(form) }}

        <div>
            <input class="change_password_submit" type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>
    </form>

    <p class="link_edit_profile" >
        <a href="{{ path('profile_edit') }}">{{ 'link.click.edit_profile'|trans({}, 'LeimzUtilisateurBundle') }}</a>
    </p>

{% endblock %}