{% extends "::layout.html.twig" %}

{% block title %}Page introuvable{% endblock %}

{% block body %}
 <h1>Une erreur est sruvenue !</h1>
        <h2>Les serveur a retourné une erreur 404 : la page demandée est introuvable.</h2>

        <div>
            Veuillez contacter l'administrateur par e-mail afin que nous puissons corriger le problème au plus vite. 
            Veuillez nous excuser pour la gène occasionnée.
        </div>
        
{% endblock %}