.change_password_item label{
float: left;
width: 160px;
}

.change_password_item{
margin-bottom: 8px;
}

.fos_user_change_password{
margin-left: 25%
}

.change_password_submit{
margin-left: 25%
}

.link_edit_profile{
margin-left: 25%;
margin-top: 10px;
}

.title{
margin-bottom: 25px;
}