.connection_title{
margin-bottom: 25px;
}

input, label{
display: block;
}


.form_connection{
margin-left: 25%;
}

.remember_me{
float: left;
margin-right: 5px;
margin-left: 100px;
}

.label_connection{
float: left;
width: 160px;
}

.connection_item{
margin-bottom: 8px;
}

.connection_submit{
margin-left: 25%;
}
