.resetting_title{
margin-bottom: 25px;
}

.resetting_label{
float: left;
width: 250px;
}

.resetting_explain{
margin-left: 20%;
margin-right: 20%;
margin-bottom: 10px;
}

.fos_user_resetting_request{
margin-left: 25%;
}

.resetting_submit{
margin-top: 8px;
margin-left: 20%;
}

.resetting_error{
margin-bottom: 8px;
}