.change_password_item label{
float: left;
width: 160px;
}

.change_password_item{
margin-bottom: 8px;
}

.fos_user_change_password{
margin-left: 25%
}

.change_password_submit{
margin-left: 25%
}

.link_edit_profile{
margin-left: 25%;
margin-top: 10px;
}

.title{
margin-bottom: 25px;
}

.admin_title{
margin-bottom: 25px;
}

.rechercheMembre_label{
float: left;
margin-left: 20px;
margin-right: 5px;
}

.rechercheMembre_submit{
float: right;
}

.rechercheMembre_form{
width: 400px;
margin-bottom: 20px;
}

.tableResults{
border-collapse: collapse;
border: 1px solid white;
width: 100%;
margin-bottom: 10px;
}

.resultsLine td{
padding: 4px 4px 10px 12px;
border: 1px solid white;
text-align: center;
}

#rolesMembreActuels{
margin-left: 50px;
margin-bottom: 20px;
}

#rolesMembre ul{
list-style: none;
margin-left: 20px;
}

#addingFormZone{
float: left;
width: 400px;
border-right: 2px solid white;
padding: 5px;
text-align: center;
}

#addingFormZone *{
padding: 1px;
}

#addingFormZone input[type="submit"]{
width: 110px;
margin-left: auto;
margin-right: auto;
margin-top: 5px;
}

#removingFormZone{
float: right;
width: 400px;
padding: 5px;
text-align: center;
}

#removingFormZone *{
padding: 1px;
}

#removingFormZone input[type="submit"]{
width: 150px;
margin-left: auto;
margin-right: auto;
margin-top: 5px;
}

#centerZone{
width: 0px;
height: 130px;
}

.links{
text-align: center;
}

.modificationMembre_label{
float: left;
width: 200px;
}

.modificationMembre_item{
margin-left: 20px;
margin-bottom: 5px;
}

#form_modification input[type="submit"]{
width: 250px;
margin-left: auto;
margin-right: auto;
}

.lock_membre_resume{
text-align: center;
margin-top: 20px;
margin-bottom: 5px;
}

#form_bloquage input[type="submit"]{
width: 100px;
padding-top: 1px;
padding-bottom: 1px;
margin-left: auto;
margin-right: auto;
}

.connection_title{
margin-bottom: 25px;
}

input, label{
display: block;
}


.form_connection{
margin-left: 25%;
}

.remember_me{
float: left;
margin-right: 5px;
margin-left: 100px;
}

.label_connection{
float: left;
width: 160px;
}

.connection_item{
margin-bottom: 8px;
}

.connection_submit{
margin-left: 25%;
}

.edit_profile_title{
margin-bottom: 25px;
}

.edit_profile_item{
margin-bottom: 8px;
}

.edit_profile_item label{
float: left;
width: 180px;
text-align: center;
}

.fos_user_profile_edit{
margin-left: 25%;
}

.edit_profile_submit{
margin-left: 25%;
}

.edit_profile_change_password_link{
margin-left: 25%;
}

.registration_item label{
float: left;
width: 160px;
}

.registration_item{
margin-bottom: 8px;
text-align: center;
}

.form_registration{
margin-left: 25%;
}

.registration_submit{
margin-left: 25%;
}

.registration_title{
margin-bottom: 25px;
}


.resetting_title{
margin-bottom: 25px;
}

.resetting_label{
float: left;
width: 250px;
}

.resetting_explain{
margin-left: 20%;
margin-right: 20%;
margin-bottom: 10px;
}

.fos_user_resetting_request{
margin-left: 25%;
}

.resetting_submit{
margin-top: 8px;
margin-left: 20%;
}

.resetting_error{
margin-bottom: 8px;
}

.completion_infos{
margin : 10px;
margin-bottom: 15px;
display: block;
}

#completion_infos_form{
margin-left : 10px;
margin-right: 10px;
}

#completion_infos_form textarea{
margin-left: 50px;
}

#completion_infos_form .bbcode{
margin-left: 60px;
}

input[type="radio"]{
float: left;
margin-right: 20px;
margin-top: 3px;
margin-bottom: 3px;
}

#complement_sexe{
margin-left: 80px;
}

label[for="complement_description"]{
margin-bottom: 5px;
}

#complement_birthdate select{
margin-left: 5px;
}

#complement_birthdate{
margin-left: 20px;
margin-top: 8px;
margin-bottom: 8px;
}

#complement_typeAvatar{
margin: 5px;
margin-left: 20px;
}

label[for="complement_avatar"]{
float: left;
padding-right: 5px;
}

#avatar_liste input{
float: none;
margin-left: 57px;
}

.image_avatar{
width: 100%;
margin: 10px;
}

#completion_infos_form input[type="submit"]{
padding: 2px;
margin-top: 10px;
margin-left: 220px;
}

.profile_avatar{
float: left;
padding: 5px;
}

.profile_options{
margin-left: 50px;
}

.fos_user_user_show p{
margin-top: 2px;
margin-bottom: 2px;
}

.fos_user_user_show{
margin-bottom: 50px;
}

#complement_pubEmail{
float: right;
margin-left: 5px;
margin-bottom: 5px;
margin-right: 550px;
margin-top: 6px;
}