{% extends "::layout.html.twig" %}

{% block title %} Page d'accueil {% endblock %}

{% block body %}<h1 class="titre_page">Bienvenue sur le site du jeu Leïmz !</h1>



		{% if pagination | length > 0 %}
				
				{% if is_granted('ROLE_SUPER_ADMIN') %}
					<a href="{{ path('admin_news_ajouter') }}" >Ajouter une news</a><br/>
					
				{% endif %}
				
			<table class="news_table">

			{% for new in pagination %}
				<tr class="news_ligne">
					<td class="news_colonne">
						<div>
							<a class="news_titre" href="{{ path('news_consulter', { 'id': new.id } ) }}" >
							{%  if new.image != 'default' %}
								<img src="{{ new.image }}" alt="{{ new.titre }}" class="image_news" />
							{%  else %}
								<img src="{{ asset('bundles/leimznews/images/leimznews.jpg') }}" alt="{{ new.titre }}" class="image_news" />
							{%  endif %}
							</a>
						</div>
						<div>
							<a class="news_titre" href="{{ path('news_consulter', { 'id': new.id } ) }}" >{{ new.titre }}</a>
							{% set i = 0 %}
							 par 
							 {%  for auteurs in new.auteur %}
							 {%  set i = i+1 %}
							 {% if i > 1 %}
							 , 
							 {%  endif  %}
							 <a class="news_auteur" href="{{ path('fos_user_profile_show') }}?pseudo={{ auteurs }}" >{{ auteurs }}</a>
							 {%  endfor %}.
							<div class="news_date">Le {{ new.date|date('d/m/Y') }}. </div>
							<div class="news_contenu">{{ new.contenu | truncate(300,true, '[...]') | bbcode_filter('default_filter') }} <a href="{{ path('news_consulter', { 'id': new.id } ) }}" >&gt;&gt; {{ new.nbCommentaires }} personnes en parlent >></a></div>
						</div>
					</td>
				</tr>
			{% endfor %}
			
			</table>
				{% if is_granted('ROLE_SUPER_ADMIN') %}
					<a href="{{ path('admin_news_ajouter') }}" >Ajouter une news</a><br/>
					
				{% endif %}
				
			{%  if pagination | length > 5 %}
			<div class="pagerfanta pagination">
				{{ pagerfanta(pagination, 'default_translated') }}
			</div>
			{%  endif  %}
		{% else %}
				<p>Aucune news trouvée.</p>
		{% endif %}

{% endblock %}