{% extends "LeimzUtilisateurBundle::layout.html.twig" %}

{% block title %}{{ 'login.title'|trans({}, 'LeimzUtilisateurBundle') }}{% endblock %}

{% block body %}
{% block fos_user_content %}

	<h1 class="title connection_title" >{{ 'login.title'|trans({}, 'LeimzUtilisateurBundle') }}</h1>

<form action="{{ path("fos_user_security_check") }}" method="post" class="form_connection" >
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    
    <div class="connection_item">
        <label for="username" class="label_connection" >{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />
    </div>


    <div class="connection_item">
        <label for="password" class="label_connection">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
        <input type="password" id="password" name="_password" />
    </div>

    {% if error %}
        <div class="erreur" >{{ error|trans([], 'LeimzUtilisateurBundle') }}</div>
    {% endif %}

    <div class="connection_item">
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" class="remember_me"  />
        <label for="remember_me" >{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
   </div>

    <div class="connection_item">
        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" class="connection_submit" />
    </div>

<p><a href="{{ path('register') }}" >{{ 'link.click.login.register'|trans({}, 'LeimzUtilisateurBundle') }}</a></p>
<p><a href="{{ path('fos_user_resetting_request') }}">{{ 'link.click.login.resetting'|trans({}, 'LeimzUtilisateurBundle') }}</a></p>

</form>


{% endblock fos_user_content %}

{% endblock %}