{% block removing %}
	<form method="POST" action="#" id="rmRoleForm" >
		
		<label for="removerole_roles" class="form_label">{{ 'admin.edit_roles.form.remove.header' | trans({}, 'LeimzUtilisateurBundle') }}</label>
		 {{ form_widget(formRm.roles) }}
		
		
		{{ form_rest(formRm) }}
		
		<input type="submit" value=" {{ 'admin.edit_roles.form.remove.submit' | trans({}, 'LeimzUtilisateurBundle') }} " />
	
	</form>
	

	
{% endblock %}