{% extends "LeimzUtilisateurBundle::layout.html.twig" %}

{% block title %}
		{{ 'admin.edit_roles.title' | trans({}, 'LeimzUtilisateurBundle' ) }}
{% endblock %}

{% block body %}
		<h1>{{ 'admin.edit_roles.title' | trans({}, 'LeimzUtilisateurBundle' ) }}</h1>
		
		
	<div id="rolesMembreActuels">
	<p>{{ 'admin.edit_roles.rolesZone' | trans({}, 'LeimzUtilisateurBundle')}}<a href="{{ path('profile_show_member', {'username' : membre.username } ) }}">{{ membre.username }}</a> :</p>
	<div id="rolesMembre">
			{% block Roles %}
				{% include "LeimzUtilisateurBundle:Admin:displayRoles.html.twig" with { 'membre' : membre } %}
			{% endblock %}
	</div>
	</div>

	<div id="addingFormZone">
	{% block adding %}
		{% include "LeimzUtilisateurBundle:Admin:editRoleAddForm.html.twig" %}
	{% endblock %}
	</div>
	
	
	<div id="removingFormZone">
	{% block removing %}
		{% include "LeimzUtilisateurBundle:Admin:editRoleRemoveForm.html.twig" %}
	{% endblock %}
	</div>
	
	<div id="centerZone">
	</div>
	
	<div class="links">
		       <div><a href="{{ path('leimz_admin_modifierMembre', { 'membre' : membre.username }) }}">{{ 'link.click.edit_profile_member'|trans({}, 'LeimzUtilisateurBundle') }}</a></div>  
			{% if membre.locked == 0 %}
					<div><a href="{{ path('leimz_admin_lock_membre', { 'membre' : membre.username }) }}">{{ 'link.click.lock_membre'|trans({}, 'LeimzUtilisateurBundle') }}</a></div>
			{% else %}
					<div><a href="{{ path('leimz_admin_lock_membre', { 'membre' : membre.username }) }}">{{ 'link.click.unlock_membre'|trans({}, 'LeimzUtilisateurBundle') }}</a></div>
			{% endif %}
	</div>
	
	<script>
	var roleZone = $("#rolesMembre");
	var addingZone = $("#addingFormZone");
	var removingZone = $("#removingFormZone");
	
	$("#addRoleForm").submit(function(){
	
			var roleToAdd = $("#addroleform_roles").val();
			var membre = "{{ membre.username }}";
			var DATA = 'membre=' + membre + '&role=' + roleToAdd;
			$.ajax({
        		type: "POST",
        		url: "{{ path('leimz_admin_role_add')}}",
        		data: DATA,
        		cache: false,
        success: function(data){
           addingZone.html(data);
           DATA2 = 'membre=' + '{{ membre.username }}';
          		$.ajax({
        		type: "POST",
        		url: "{{ path('leimz_display_roles')}}",
        		data: DATA2,
        		cache: false,
        success: function(data){
           roleZone.html(data);
          
  					}
  				});
  			}
  		});
return false;  		
  		});
  		
  		$("#rmRoleForm").submit(function(){
	
			var roleToRm = $("#removeroleform_roles").val();
			var membre = "{{ membre.username }}";
			var DATA = 'membre=' + membre + '&role=' + roleToRm;
			$.ajax({
        		type: "POST",
        		url: "{{ path('leimz_admin_role_remove')}}",
        		data: DATA,
        		cache: false,
        success: function(data){
           removingZone.html(data);
          		DATA2 = 'membre=' + '{{ membre.username }}';
          		$.ajax({
        		type: "POST",
        		url: "{{ path('leimz_display_roles')}}",
        		data: DATA2,
        		cache: false,
        success: function(data){
           roleZone.html(data);
          
  					}
  				});
  			}
  		});
return false;  		
  		});

	
	
	
	</script>

{% endblock %}