{% block adding %}
	<form method="POST" action="#" id="addRoleForm" >
		
		<label for="addrole_roles" class="form_label">{{ 'admin.edit_roles.form.add.header' | trans({}, 'LeimzUtilisateurBundle') }}</label>
		 {{ form_widget(formAdd.roles) }}
		
		
		{{ form_rest(formAdd) }}
		
		<input type="submit" value=" {{ 'admin.edit_roles.form.add.submit' | trans({}, 'LeimzUtilisateurBundle') }} " />
		
	</form>
	{% endblock %}