{% block results %} 
 <table class="tableResults">
		<tr class="resultsLine titleLine">
			<td>{{ 'admin.listeMembre.table.header.username' | trans({}, 'LeimzUtilisateurBundle' ) }}</td>
			<td>{{ 'admin.listeMembre.table.header.mail' | trans({}, 'LeimzUtilisateurBundle' ) }}</td>
			<td>{{ 'admin.listeMembre.table.header.lastConnection' | trans({}, 'LeimzUtilisateurBundle' ) }}</td>
			<td>{{ 'admin.listeMembre.table.header.role' | trans({}, 'LeimzUtilisateurBundle' ) }}</td>
			<td>{{ 'admin.listeMembre.table.header.statut' | trans({}, 'LeimzUtilisateurBundle' ) }}</td>
			<td>{{ 'admin.listeMembre.table.header.actions' | trans({}, 'LeimzUtilisateurBundle' ) }}</td>
		</tr>
		
		 {% for membre in membres %}
			
			<tr class="resultsLine" >
				<td><a href="{{ path('profile_show_member', { 'username' : membre.username }) }}">{{ membre.username }}</a></td>
				<td>{{ membre.email }}</td>
				<td>{{ membre.lastLogin | date() }}</td>
				<td>{% if membre.hasRole('ROLE_SUPER_ADMIN') %}
						{{ 'roles.admin'|trans({}, 'LeimzUtilisateurBundle') }}
					{% else %}
						{{ 'roles.member'|trans({}, 'LeimzUtilisateurBundle') }}
					{% endif %}
				</td>
				{% if membre.locked == 0 %}
					<td>{{ 'admin.listeMembre.table.cells.statut.actif'|trans({}, 'LeimzUtilisateurBundle') }}</td>
				{% else %}
					<td>{{ 'admin.listeMembre.table.cells.statut.locekd'|trans({}, 'LeimzUtilisateurBundle') }}</td>
				{% endif %}
				<td><a href="{{ path('leimz_admin_modifierMembre', { 'membre' : membre.username }) }}">{{ 'link.info.edit_profile_member'|trans({}, 'LeimzUtilisateurBundle') }}</a>  
						{% if membre.locked == 0 %}
						<a href="{{ path('leimz_admin_lock_membre', { 'membre' : membre.username }) }}">{{ 'link.info.lock_membre'|trans({}, 'LeimzUtilisateurBundle') }}</a>
						{% else %}
						<a href="{{ path('leimz_admin_lock_membre', { 'membre' : membre.username }) }}">{{ 'link.info.unlock_membre'|trans({}, 'LeimzUtilisateurBundle') }}</a>
						{% endif %}
					<a href="{{ path('leimz_admin_roles_edit', { 'membre' : membre.username }) }}">{{ 'link.info.edit_roles'|trans({}, 'LeimzUtilisateurBundle') }}</a>
					</td>
			</tr>
			
		{% else %}		
		
		<tr class="resultsLine" >
			<td colspan="6" >{{ 'admin.listeMembre.table.cells.noUser' | trans({}, 'LeimzUtilisateurBundle' ) }}</td>
		</tr>
		
		{% endfor %}
		
	</table>
	
	{% endblock %}