{% extends "LeimzUtilisateurBundle::layout.html.twig" %}

{% block title %}
		{% if locked == 0 %}
				{{ 'admin.listeMembre.title'|trans({}, 'LeimzUtilisateurBundle') }}
		{% else %}
				{{ 'admin.listeMembre.titleLocked'|trans({}, 'LeimzUtilisateurBundle') }}
		{% endif %}
{% endblock %}

{% block body %}



	<h1 class="admin_title">{% if locked == 0 %}{{ 'admin.listeMembre.title'|trans({}, 'LeimzUtilisateurBundle') }}{% else %}{{ 'admin.listeMembre.titleLocked'|trans({}, 'LeimzUtilisateurBundle') }}{% endif %}</h1>
	
	<form id="form_recherche" class="rechercheMembre_form" action="{{ path('leimz_utilisateur_rechercher') }}" method="post">
		
		<label for="username" class="rechercheMembre_label" >{{ 'admin.listeMembre.form.champ' | trans({}, 'LeimzUtilisateurBundle') }}</label>
		
		<input type="submit" class="rechercheMembre_submit" value="{{ 'admin.listeMembre.form.submit' | trans({}, 'LeimzUtilisateurBundle') }}" />
		
		{{ form_widget(form.username) }}
		
		{{ form_rest(form) }}
		
	</form>


	<div class="loading"></div>
	
	<div id="resultats_recherche"> 
		{% block results %}
    	{% include 'LeimzUtilisateurBundle:Admin:listeMembres.html.twig' with {'membres' : membres}  %}
    	{% endblock %}
	</div>
<script>	
	var oldmotcle = 'a';	
	
	function vaChercher(){ 
    $(".loading").show();
    var motcle = $("#utilisateurajax_username").val();
    var DATA = 'motcle=' + motcle;
    var DATA = DATA + '&locked={{ locked }}';
    
    if(oldmotcle != motcle)
    {
    	$.ajax({
        type: "POST",
        url: "{{ path('leimz_utilisateur_rechercher')}}",
        data: DATA,
        cache: false,
        success: function(data){
           $('#resultats_recherche').html(data);
           $(".loading").hide();
           var oldmotcle = motcle;
  			}
  		});
  	}  
    setTimeout("vaChercher()", 1000);
    return false;
}
vaChercher();
$("#form_recherche").submit(vaChercher()); 
</script>

{% endblock %}