{% extends "LeimzUtilisateurBundle::layout.html.twig" %}

{% block title %}
	
				{{ 'admin.lockMembre.title'|trans({}, 'LeimzUtilisateurBundle') }}
		
{% endblock %}

{% block body %}



	<h1 class="admin_title">{{ 'admin.lockMembre.title'|trans({}, 'LeimzUtilisateurBundle') }}</h1>
	
	<div class="loading"></div>
	
	<div id="lockButton"> 
		{% block button %}
			{% include "LeimzUtilisateurBundle:Admin:lockMembreAjax.html.twig" with { 'membre' : membre, 'form' : form, 'action' : false } %}
		{% endblock %}
	</div>
<script>	
		
	
	$("#form_bloquage").submit(function(){ 
    $(".loading").show();
    var membre = $("#lockmembreajax_membre").val();
    var DATA = 'membre=' + membre + '&action=true';

    	$.ajax({
        type: "POST",
        url: "{{ path('leimz_admin_lock_membre_ajax')}}",
        data: DATA,
        cache: false,
        success: function(data){
           $('#lockButton').html(data);
           $(".loading").hide();
  			}
  		});
       
    
    return false;
});

</script>

{% endblock %}