{% block button %}
{% for membre1 in membre %}{% set membre = membre1 %}{% endfor %}
	<form action="#" method="POST" id="form_bloquage" >
		<input type="hidden" id="lockmembreajax_membre" name="lockmembreajax[id]" value="{{ membre.username }}" />
		<input type="hidden" id="lock_membreajax_status" value="{{ membre.locked }}" />
		{{ form_rest(form) }}
			<div class="lock_membre_resume">
		<div>
				{{ 'admin.lockMembre.verifText1'|trans({}, 'LeimzUtilisateurBundle') }}
				(<a href="{{ path('profile_show_member', { 'username' : membre.username }) }}">{{ membre.username }}</a>).
				{{ 'admin.lockMembre.verifText2'|trans({}, 'LeimzUtilisateurBundle') }}		
		</div>
	</div>
	
		<input type="submit" value="{% if membre.locked == 1 %}{{ 'admin.lockMembre.submit.unlock'|trans({}, 'LeimzUtilisateurBundle') }}{% else %}{{ 'admin.lockMembre.submit.lock'|trans({}, 'LeimzUtilisateurBundle') }}{% endif %}" />
		
		<div>
		{% if done is defined %}
		{% if done == 1 %}
			{% if membre.locked == 1 %}
				{{ 'admin.lockMembre.done.locked'|trans({}, 'LeimzUtilisateurBundle') }}
			{% else %}
				{{ 'admin.lockMembre.done.unlocked'|trans({}, 'LeimzUtilisateurBundle') }}
			{% endif %}
		{% endif %}
		{% endif %}
		</div>
	</form>

{% endblock %}