{% extends "LeimzUtilisateurBundle::layout.html.twig" %}

{% block title %}
	
				{{ 'admin.modifierMembre.title'|trans({ '%username%' : membre.username }, 'LeimzUtilisateurBundle') }}
		
{% endblock %}

{% block body %}



	<h1 class="admin_title">{{ 'admin.modifierMembre.title'|trans({ '%username%' : membre.username }, 'LeimzUtilisateurBundle') }}</h1>
	
	
	<form method="POST" action="{{ path('leimz_admin_modifierMembre', { 'membre' : membre.username } ) }}" id="form_modification">	
		
		<div class="modificationMembre_item">
			<div class="modificationMembre_new">
				<label for="username" class="modificationMembre_label" >{{ 'admin.modifierMembre.form.label.username'|trans({}, 'LeimzUtilisateurBundle') }}</label>
				{{ form_widget(form.username) }}
			</div>
			<div class="modificationMembre_old" id="old_username">
				{{ 'admin.modifierMembre.form.old.username'|trans({}, 'LeimzUtilisateurBundle') }} : {{ membre.username }}
			</div>
		</div>
		
		<div class="modificationMembre_item">
			<div class="modificationMembre_new">
				<label for="email" class="modificationMembre_label" >{{ 'admin.modifierMembre.form.label.email'|trans({}, 'LeimzUtilisateurBundle') }}</label>
				{{ form_widget(form.email) }}
			</div>
			<div class="modificationMembre_old" id="old_email">
				{{ 'admin.modifierMembre.form.old.email'|trans({}, 'LeimzUtilisateurBundle') }} : {{ membre.email }}
			</div>
		</div>
		
		
		{{ form_rest(form) }}
		
		<input type="submit" value="{{ 'admin.modifierMembre.form.submit'|trans({}, 'LeimzUtilisateurBundle') }}" />
		
	</form>
	<div class="links">
				{% if membre.locked == 0 %}
					<div><a href="{{ path('leimz_admin_lock_membre', { 'membre' : membre.username }) }}">{{ 'link.click.lock_membre'|trans({}, 'LeimzUtilisateurBundle') }}</a></div>
				{% else %}
					<div><a href="{{ path('leimz_admin_lock_membre', { 'membre' : membre.username }) }}">{{ 'link.click.unlock_membre'|trans({}, 'LeimzUtilisateurBundle') }}</a></div>
				{% endif %}
					<div><a href="{{ path('leimz_admin_roles_edit', { 'membre' : membre.username }) }}">{{ 'link.click.edit_roles'|trans({}, 'LeimzUtilisateurBundle') }}</a></div>
	</div>
	<script>
			$("#old_username").hide();
			$("#old_email").hide();
			
			function verifInputs(){
				var oldUsername = '{{ membre.username }}';
				var username = $("#profileform_username").val();			
			
				if(oldUsername != username){$("#old_username").show(500);}else{$("#old_username").hide(500);}
				
				var oldEmail = '{{ membre.email }}';
				var email = $("#profileform_email").val();			
			
				if(oldEmail != email){$("#old_email").show(500);}else{$("#old_email").hide(500);}
				
				
				setTimeout("verifInputs()", 1000);
				return false;
			}
				
				verifInputs();
	</script>
	
{% endblock %}