{% block bbcode %}
<div class="bbcode">
    <ul class="bbcodeListe" >
        <li class="bbcodeElementMEP"><img src="{{ asset('bundles/leimznews/images/bbcode/gras.gif') }}" alt="{{  'bbcode.gras' | trans({}, 'LeimzNewsBundle') }}" title="{{  'bbcode.gras' | trans({}, 'LeimzNewsBundle') }}" onclick="javascript:bbcode('[b]', '[/b]');return(false)" /></li>
        <li class="bbcodeElementMEP"><img src="{{ asset('bundles/leimznews/images/bbcode/italique.gif') }}" alt="{{  'bbcode.italique' | trans({}, 'LeimzNewsBundle') }}" title="{{  'bbcode.italique' | trans({}, 'LeimzNewsBundle') }}" onclick="javascript:bbcode('[i]', '[/i]');return(false)" /></li>
        <li class="bbcodeElementMEP"><img src="{{ asset('bundles/leimznews/images/bbcode/souligne.gif') }}" alt="{{  'bbcode.souligne' | trans({}, 'LeimzNewsBundle') }}" title="{{  'bbcode.souligne' | trans({}, 'LeimzNewsBundle') }}" onclick="javascript:bbcode('[u]', '[/u]');return(false)" /></li>
        <li class="bbcodeElementMEP"><img src="{{ asset('bundles/leimznews/images/bbcode/barre.gif') }}" alt="{{  'bbcode.barre' | trans({}, 'LeimzNewsBundle') }}" title="{{  'bbcode.barre' | trans({}, 'LeimzNewsBundle') }}" onclick="javascript:bbcode('[s]', '[/s]');return(false)" /></li>
        <li class="bbcodeElementMEP"><img src="{{ asset('bundles/leimznews/images/bbcode/url.gif') }}" alt="lien" title="lien" onclick="javascript:bbcode('[url]', '[/url]');return(false)" /></li>
        <li class="bbcodeElementMEP"><img src="{{ asset('bundles/leimznews/images/bbcode/image.gif') }}" alt="image" title="image" onclick="javascript:bbcode('[img]', '[/img]');return(false)" /></li>
        <li class="bbcodeElementMEP bbcodeListe bbcodeSize"><img src="{{ asset('bundles/leimznews/images/bbcode/size.gif') }}" alt="{{  'bbcode.size' | trans({}, 'LeimzNewsBundle') }}" title="{{  'bbcode.size' | trans({}, 'LeimzNewsBundle') }}" />
            <ul class="bbcodeListeSize">
                <li class="bbcodeListeElement bbcodeSizeTresPetit" onclick="javascript:bbcode('[size=&quot;9&quot;]', '[/size]');return(false)">{{  'bbcode.sizes.tres_petit' | trans({}, 'LeimzNewsBundle') }}</li>
                <li class="bbcodeListeElement bbcodeSizePetit" onclick="javascript:bbcode('[size=&quot;11&quot;]', '[/size]');return(false)">{{  'bbcode.sizes.petit' | trans({}, 'LeimzNewsBundle') }}</li>
                <li class="bbcodeListeElement bbcodeSizeNormal" onclick="javascript:bbcode('[size=&quot;18&quot;]', '[/size]');return(false)">{{  'bbcode.sizes.grand' | trans({}, 'LeimzNewsBundle') }}</li>
                <li class="bbcodeListeElement bbcodeSizeGrand" onclick="javascript:bbcode('[size=&quot;24&quot;]', '[/size]');return(false)">{{  'bbcode.sizes.tres_grand' | trans({}, 'LeimzNewsBundle') }}</li>
            </ul>
        </li>
        <li class="bbcodeElementMEP bbcodeListe bbcodeFont"><img src="{{ asset('bundles/leimznews/images/bbcode/font.gif') }}" alt="{{  'bbcode.font' | trans({}, 'LeimzNewsBundle') }}" title="{{  'bbcode.font' | trans({}, 'LeimzNewsBundle') }}" />
            <ul class="bbcodeListeFont">
                <li class="bbcodeListeElement bbcodeFontArial" onclick="javascript:bbcode('[font=&quot;arial&quot;]', '[/font]');return(false)">arial</li>
                <li class="bbcodeListeElement bbcodeFontTimes" onclick="javascript:bbcode('[font=&quot;times new roman&quot;]', '[/font]');return(false)">times new roman</li>
                <li class="bbcodeListeElement bbcodeFontCourier" onclick="javascript:bbcode('[font=&quot;courier&quot;]', '[/font]');return(false)">courier</li>
                <li class="bbcodeListeElement bbcodeFontComics" onclick="javascript:bbcode('[font=&quot;Comic sans ms&quot;]', '[/font]');return(false)">comic sans ms</li>
            </ul>
        </li>
        <li class="bbcodeElementMEP bbcodeListe bbcodeColor"><img src="{{ asset('bundles/leimznews/images/bbcode/color.gif') }}" alt="{{  'bbcode.color' | trans({}, 'LeimzNewsBundle') }}" title="{{  'bbcode.color' | trans({}, 'LeimzNewsBundle') }}" />
            <ul class="bbcodeListeColor">
                <li class="bbcodeListeElement bbcodeColorBlack" onclick="javascript:bbcode('[color=&quot;black&quot;]', '[/color]');return(false)">{{  'bbcode.colors.noir' | trans({}, 'LeimzNewsBundle') }}</li>
                <li class="bbcodeListeElement bbcodeColorRed" onclick="javascript:bbcode('[color=&quot;red&quot;]', '[/color]');return(false)">{{  'bbcode.colors.rouge' | trans({}, 'LeimzNewsBundle') }}</li>
                <li class="bbcodeListeElement bbcodeColorPurple" onclick="javascript:bbcode('[color=&quot;purple&quot;]', '[/color]');return(false)">{{  'bbcode.colors.violet' | trans({}, 'LeimzNewsBundle') }}</li>
                <li class="bbcodeListeElement bbcodeColorBlue" onclick="javascript:bbcode('[color=&quot;blue&quot;]', '[/color]');return(false)">{{  'bbcode.colors.bleu' | trans({}, 'LeimzNewsBundle') }}</li>
                <li class="bbcodeListeElement bbcodeColorLightBlue" onclick="javascript:bbcode('[color=&quot;lightblue&quot;]', '[/color]');return(false)">{{  'bbcode.colors.bleu_clair' | trans({}, 'LeimzNewsBundle') }}</li>
                <li class="bbcodeListeElement bbcodeColorGreen" onclick="javascript:bbcode('[color=&quot;green&quot;]', '[/color]');return(false)">{{  'bbcode.colors.vert' | trans({}, 'LeimzNewsBundle') }}</li>
                <li class="bbcodeListeElement bbcodeColorDarkGreen" onclick="javascript:bbcode('[color=&quot;darkgreen&quot;]', '[/color]');return(false)">{{  'bbcode.colors.vert_fonce' | trans({}, 'LeimzNewsBundle') }}</li>
                <li class="bbcodeListeElement bbcodeColorOrange" onclick="javascript:bbcode('[color=&quot;darkorange&quot;]', '[/color]');return(false)">{{  'bbcode.colors.orange' | trans({}, 'LeimzNewsBundle') }}</li>
                <li class="bbcodeListeElement bbcodeColorYellow" onclick="javascript:bbcode('[color=&quot;yellow&quot;]', '[/color]');return(false)">{{  'bbcode.colors.jaune' | trans({}, 'LeimzNewsBundle') }}</li>
            </ul>
        </li>
    </ul>
</div>
{% endblock %}


<!-- <li><img src="{{ asset('leimznews/images/bbcode/gras.gif') }}" title="sourire" alt="sourire" onclick="javascript:smilies(' :) ');return(false)" /></li> -->