<!DOCTYPE html>
<html>
    <head>
    
    {# texte des layouts principaux contenu dans le bundle Utilisateur (src/Leimz/UtilisateurBundle/Resources/translations/.yml/main.*) #}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{{ 'main.layout.title' | trans({}, 'LeimzUtilisateurBundle') }}{% endblock %}</title>

 
	
	<link rel="stylesheet" href="{{ asset('bundles/leimznews/css/style.css') }}" type="text/css" />
	<!--<link rel="stylesheet" href="{{ asset('bundles/leimzadmin/css/style.css') }}" type="text/css" />-->
	<!--<link rel="stylesheet" href="{{ asset('bundles/leimzforum/css/style.css') }}" type="text/css" />-->
	<link rel="stylesheet" href="{{ asset('bundles/leimzutilisateur/css/style.css') }}" type="text/css" />
	
	<link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script> 
    </head>
    <body>
    	<header><a href="{{ path('homepage') }}">
    		<!-- bannière via css -->
    	</a></header>

        {% block menu %}
        <nav>
			<nav id="menu_gauche" class="menu">
				<a href="#" class="titre_menu"><nav>{{ 'main.layout.menu.game' | trans({}, 'LeimzUtilisateurBundle') }}</nav></a>
				<ul class="liste_menu" id="liste_gauche">
					<li><a href="{{ path('whatsthat_default') }}">{{ 'main.layout.menu.leimz' | trans({}, 'LeimzUtilisateurBundle') }}</a></li>
					<li><a href="{{ path('homepage') }}">{{ 'main.layout.menu.comment_jouer' | trans({}, 'LeimzUtilisateurBundle') }}</a></li>
					<li><a href="{{ path('homepage') }}">{{ 'main.layout.menu.download' | trans({}, 'LeimzUtilisateurBundle') }}</a></li>
					<li><a href="{{ path('homepage') }}">{{ 'main.layout.menu.bien_commencer' | trans({}, 'LeimzUtilisateurBundle') }}</a></li>
					<li><a href="{{ path('homepage') }}">{{ 'main.layout.menu.factions' | trans({}, 'LeimzUtilisateurBundle') }}</a></li>
					<li><a href="{{ path('homepage') }}">{{ 'main.layout.menu.perso' | trans({}, 'LeimzUtilisateurBundle') }}</a></li>
					<li><a href="{{ path('homepage') }}">{{ 'main.layout.menu.jobs' | trans({}, 'LeimzUtilisateurBundle') }}</a></li>
					<li><a href="{{ path('homepage') }}">{{ 'main.layout.menu.quetes' | trans({}, 'LeimzUtilisateurBundle') }}</a></li>
					<li><a href="{{ path('homepage') }}">{{ 'main.layout.menu.medias' | trans({}, 'LeimzUtilisateurBundle') }}</a></li>
				</ul>
			</nav>
			<nav id="menu_droite" class="menu">
				<a href="#" class="titre_menu"><nav>{{ 'main.layout.menu.communaute' | trans({}, 'LeimzUtilisateurBundle') }}</nav></a>
				<ul class="liste_menu" id="liste_droite">
					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
						<li><a href="{{ path('profile_show') }}">{{ 'main.layout.menu.authenticated.profil' | trans({}, 'LeimzUtilisateurBundle') }}</a></li>
                                                
                                                {% if is_granted("ROLE_ADMIN") %}
                                                    <li><a href="{{ path('admin_panneau') }}">{{ 'main.layout.menu.authenticated.admin' | trans({}, 'LeimzUtilisateurBundle') }}</a></li>
                                                {% endif %}

						<li><a href="{{ path('user_logout') }}">{{ 'main.layout.menu.authenticated.logout' | trans({}, 'LeimzUtilisateurBundle') }}</a></li>
					{% else %}
						<li><a href="{{ path('user_login') }}" >{{ 'main.layout.menu.anonymous.connexion' | trans({}, 'LeimzUtilisateurBundle') }}</a></li>
						<li class="menu_pair"><a href="{{ path('register') }}" >{{ 'main.layout.menu.anonymous.register' | trans({}, 'LeimzUtilisateurBundle') }}</a></li>
					{% endif %}
					<li class="menu_pair"><a href="{{ path('homepage') }}">{{ 'main.layout.menu.news' | trans({}, 'LeimzUtilisateurBundle') }}</a></li>
					<li class="menu_impair"><a href="{{ path('homepage') }}">{{ 'main.layout.menu.forum' | trans({}, 'LeimzUtilisateurBundle') }}</a></li>
					<li class="menu_pair"><a href="{{ path('homepage') }}">{{ 'main.layout.menu.ladder' | trans({}, 'LeimzUtilisateurBundle') }}</a></li>
					<li class="menu_impair"><a href="{{ path('homepage') }}">{{ 'main.layout.menu.assistance' | trans({}, 'LeimzUtilisateurBundle') }}</a></li>
					<li class="menu_pair"><a href="{{ path('homepage') }}">{{ 'main.layout.menu.faq' | trans({}, 'LeimzUtilisateurBundle') }}</a></li>
					{% block menuAdmin %}{% endblock %}
				</ul>
			</nav>
			<nav id="jouer"><a href="#"></a></nav>
		</nav>
		{% endblock %}

		<div id="corps">
                    <div id="corpsInterieur">
                    

        {% block body %}<p>Aucun contenu trouvé.</p>{% endblock %}
                    </div>
                </div>

		<footer>
			<ul>
				<li><span class="footer_staff">Staff</span>
					<ul class="liste_staff">
						<li><a href="#">Développeurs java : Fazega, Chelendil, Kratisto</a></li><br/>
						<li><a href="#">Developpeur Web: Blaitox</a></li><br/>
						<li><a href="#">WebDesign: ?</a></li><br/>
						<li><a href="#">Graphiste: ?</a></li><br/>
						<li><a href="#">Scénariste: Brounch</a></li><br/>
						<li><a href="#">Dessinateur: ?</a></li><br/>
					</ul>
				</li>
				<li><span class="footer_contact">Contact</span>
					<ul class="liste_contact">
						<li><a href="#">Nous contacter</a></li>
					</ul>
				</li>
				<li><span class="footer_aide">Nous aider</span>
					<ul class="liste_aide">
						<li><a href="#">Livre d'or</a></li><br/>
						<li><a href="#">Suggestions</a></li><br/>
						<li><a href="#">Faire un don</a></li><br/>
					</ul>
				</li>
				<li><span class="footer_suivre">Nous suivre</span>
					<ul class="liste_suivre">
						<li><a href="#"><div  id="footer_facebook" class="image_suivre_footer"></div></a></li>
						<li><a href="#"><div  id="footer_twitter" class="image_suivre_footer"></div></a></li>
						<li><a href="#"><div  id="footer_rss" class="image_suivre_footer"></div></a></li>
					</ul>
				</li>
			</ul>
		</footer>
                

                <script type="text/javascript">
                    $('.liste_menu').hide();
                    
                    $('.liste_menu').mouseleave(function(){
                        $('.liste_menu').hide();
                        });
                    
                    $('#menu_gauche').mouseleave(function(){
                        liste = 0;
                        $('.liste_menu').mouseover(function(){
                            var liste = 1;
                            });
                            if(liste  == 0)
                            {
                                $('#liste_gauche').hide();
                            }
                            liste = 0;
                        });
                        
                    $('#menu_gauche').mouseover(function(){
                        $('#liste_gauche').show(400);
                       });
                       
                   $('#menu_droite').mouseleave(function(){
                        liste = 0;
                        $('.liste_menu').mouseover(function(){
                            var liste = 1;
                            });
                            if(liste  == 0)
                            {
                                $('#liste_droite').hide();
                            }
                            liste = 0;
                        });
                        
                    $('#menu_droite').mouseover(function(){
                        $('#liste_droite').show(400);
                       });
                
            
                </script>
            
		<script type="text/javascript" src="{{ asset('bundles/leimznews/js/bbcode.js') }}" ></script>
		<script type="text/javascript">

  		var _gaq = _gaq || [];
  			_gaq.push(['_setAccount', 'UA-34677206-1']);
  			_gaq.push(['_trackPageview']);

 			 (function() {
   				 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   				 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   				 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 				 })();

	</script>


    </body>
</html>
