{% extends "::layout.html.twig" %}

{% block title %} 
	{% if edition == false %}
		Ajout d'un commentaire 
	{% else %}
		Édition d'un commentaire
	{% endif %}
{% endblock %}

{% block body %}
	<h1 class="title">
		{% if edition == false %}
			Ajout d'un commentaire 
		{% else %}
			Édition d'un commentaire
		{% endif %}
	</h1>

	<form action="" method="post" class="comment_form" {{ form_enctype(form) }} id="form_commentaire">
	<center>
	{%  include '::bbcode.html.twig' %}
	
		{{ form_label(form.contenu, 'Contenu de votre commentaire :') }}
		{{ form_widget(form.contenu) }}
		
		{{ form_rest(form) }}
		<input type="submit"  value="Envoyer le commentaire !" />
		</center>
	</form>
<script type="text/javascript">var champTexte = document.getElementById('commentaire_contenu');</script>

{% endblock %}