{% block subject %}{{ 'confirm_email.subject'|trans({}, 'LeimzUtilisateurBundle') }}{% endblock %}

{% block body_text %}
{% autoescape false %}
{{ 'confirm_email.hello'|trans({}, 'LeimzUtilisateurBundle') }} {{ user.username }} !

{{ 'confirm_email.text'|trans({}, 'LeimzUtilisateurBundle') }}{{ confirmationUrl }}

{{ 'confirm_email.end'|trans({}, 'LeimzUtilisateurBundle') }}
{% endautoescape %}
{% endblock %}

{% block body_html %}

{% endblock %}