{% extends "LeimzUtilisateurBundle::layout.html.twig" %}

{% block title %}{{ 'registration.register.title'|trans({}, 'LeimzUtilisateurBundle') }}{% endblock %}

{% block body %}

    <h1 class="title registration_title">{{ 'registration.register.title'|trans({}, 'LeimzUtilisateurBundle') }}</h1>

    {% block fos_user_content %}
         <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form_registration">

                <div class="registration_item">

                    {{ form_label(form.username, 'fos_user_registration_form_username'|trans({}, 'FOSUserBundle')) }}
                    {{ form_widget(form.username) }}
                    <div class="errors">{{ form_errors(form.username) }}</div>

                </div>
                <div class="registration_item">

                   {{ form_label(form.email, 'fos_user_registration_form_email'|trans({}, 'FOSUserBundle')) }}
                   {{ form_widget(form.email) }}
                   <div class="errors">{{ form_errors(form.email) }}</div>

                </div>
                <div class="registration_item">

                    {{ form_label(form.plainPassword.first, 'fos_user_registration_form_plainPassword_first'|trans({}, 'FOSUserBundle')) }}
                    {{ form_widget(form.plainPassword.first) }}
                    <div class="errors">{{ form_errors(form.plainPassword.first) }}</div>

                </div>
                <div class="registration_item">

                    {{ form_label(form.plainPassword.second, 'fos_user_registration_form_plainPassword_second'|trans({}, 'FOSUserBundle')) }}
                    {{ form_widget(form.plainPassword.second) }}
                    <div class="errors">{{ form_errors(form.plainPassword.second) }}</div>

                </div>

                    {{ form_rest(form) }}

                <div class="registration_item registration_submit">
            
                    <input type="submit" value=" {{ 'registration.submit'|trans({}, 'FOSUserBundle') }} " />
            
                </div>

                <div>
                    <a href="{{ path('user_login') }}">{{ 'link.click.register.login'|trans({}, 'LeimzUtilisateurBundle') }}</a>
                </div>
        </form>
    {% endblock %}
{% endblock %}