{% extends "::layout.html.twig" %}

{%  for array in new %}
{% set new = array %}
{%  endfor %}

{% block title %} {{ new.titre | title }} {% endblock %}

{% block body %}
	<h1 class="titre">{{ new.titre | title }}</h1>
	
	{% if new.brouillon == 0 %}
	<div class="news_boutons">
	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
		<a href="{{ path('news_commenter', { 'news': new.id }) }}" >Commenter cette news.</a>
	{% else %}
		<a href="{{ path('user_login') }}">Connectez vous pour commenter cette news !</a>
	{% endif %}
	{% if is_granted("ROLE_ADMIN") %}
		<a href="{{ path('admin_news_supprimer', { 'id': new.id }) }}" >Supprimer la news.</a>
		<a href="{{ path('admin_news_verrouiller', { 'id': new.id }) }}" >Verrouiller les commentaires.</a>
		<a href="{{ path('admin_news_editer', { 'id': new.id }) }}" >Éditer cette news.</a>
		
	{% endif %}
	</div>
	{% else %}
		<em>Attention, cette news n'a pas encore été publiée, ceci est seulement une prévisualisation.</em>
	{% endif %}
	
	<div class="news_image">
		<img src="{{ asset('bundles/leimznews/images/leimznews.jpg') }}" title="{{ new.titre }}" />
	</div>
	
	<div class="news_corps">
		<p class="date">Publiée le {{ new.date | date('d/m/Y') }} par {% set i = 0 %}{% for auteur in new.auteur %}{% set i = i+1 %}{% if i > 1 %}, {% endif %}<a href="{{ path('fos_user_profile_show') }}?pseudo={{ auteur }}">{{ auteur }}</a>{% endfor %}</p>

		<p>
			<p class="news_contenu">{{ new.contenu | bbcode_filter('default_filter') }}</p>
		
			<p class="date edit">Dernière mise à jour le {{ new.dateEdit | date('D m Y') }}</p>
		</p>
	</div>
	
	{% if new.brouillon == 0 %}
		<div class="news_boutons">
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			<a href="{{ path('news_commenter', { 'news': new.id }) }}" >Commenter cette news.</a>
		{% else %}
			<a href="{{ path('user_login') }}">Connectez vous pour commenter cette news !</a>
		{% endif %}
		{% if is_granted("ROLE_ADMIN") %}
			<a href="{{ path('admin_news_supprimer', { 'id': new.id }) }}" >Supprimer la news.</a>
			<a href="{{ path('admin_news_verrouiller', { 'id': new.id }) }}" >Verrouiller les commentaires.</a>
			<a href="{{ path('admin_news_editer', { 'id': new.id }) }}" >Éditer cette news.</a>
		{% endif %}
		</div>
	{% else %}
		<em>Attention, cette news n'a pas encore été publiée, ceci est seulement une prévisualisation.</em>
	{% endif %}
	
	{% if new.brouillon == 0 %}
	<table class="comments_table">
			{%  if pagination | length > 10 %}
				<tr class="pagerfanta pagination_comment">
				<td colspan="2">
					{{ pagerfanta(pagination, 'default_translated') }}
				</td>
				</tr>
			{%  endif  %}
			
			<tr class="comment_titres">
				<td class="comment_titre comment_auteur">Auteur</td>
				<td class="comment_titre">Commentaire</td>
			</tr>
		
			{% for commentaire in pagination %}
				{% if commentaire.supprimer == 1 and not is_granted('ROLE_ADMIN') %}
				<tr class="comment_deleted_line">
					<td colspan="2">
						<a class="link_auteur" href="{{ path('fos_user_profile_show') }}?pseudo={{ commentaire.auteur }}">{{ commentaire.auteur }}</a> | Commentaire supprimé.
					</td>
				</tr>
				{% else %}
				<tr class="comment_line">
					<td class="col_auteur"><a class="link_auteur" href="{{ path('fos_user_profile_show') }}?pseudo={{ commentaire.auteur }}">{{ commentaire.auteur }}<br/>
                                                                    {% if commentaire.auteur.complement.avatar != '' %}
                                                                            {% if commentaire.auteur.complement.typeAvatar == 0 %}
                                                                                <img src="{{ commentaire.auteur.complement.avatar }}" alt="avatar" title="avatar" width="120px" height= "120px"/>
                                                                            {% elseif commentaire.auteur.complement.typeAvatar == 1 %}
                                                                                <img src="{{ asset('bundles/leimzutilisateur/images/avatars/' ~ commentaire.auteur.complement.avatar ~ '.jpg') }}" alt="avatar" title="avatar" width="120px" height= "120px" />
                                                                            {% endif %}
                                                                     {% endif %}</a>
						{% if (commentaire.auteur.complement.birthdate | date('d/m/Y')) != '30/11/-0001' %}<div class="auteur_date" >Né(e) le {{ commentaire.auteur.complement.birthdate | date('d/m/Y') }}.</div>{% endif %}
						{% if is_granted('ROLE_ADMIN') and commentaire.supprimer != 1 %}
							<a class="comment_suppr" href="{{ path('news_editer_commentaire', { 'id' : commentaire.id }) }}">Éditer</a>
							<a class="comment_suppr" href="{{ path('admin_news_supprimer_commentaire', { 'id' : commentaire.id }) }}">Supprimer</a>
                                                {% else %}
                                                        <span class="erreur">Commentaire supprimé.</span>
						{% endif %}
						{% if commentaire.auteur == app.user and not is_granted('ROLE_ADMIN') and commentaire.supprimer != 1 %}
							<a class="comment_suppr" href="{{ path('admin_news_supprimer_commentaire', { 'id' : commentaire.id }) }}">Supprimer</a>
						{% endif %}	
					</td>
					<td class="col_content">
                                            <div class="comment_date" >Le {{ commentaire.date | date('d/m/Y') }}.</div>
                                            <div class="comment_content">{{ commentaire.contenu | bbcode_filter('default_filter') }}</div>
						{% if commentaire.date != commentaire.dateEdit %}
							<div class="comment_dateEdit"><em>Dernière édition le {{ commentaire.dateEdit | date('d/m/Y') }}.</em></div>
						{% endif %}
                                                {% if commentaire.auteur.complement.signature != '' %}
							<div class="comment_signature">{{ commentaire.auteur.complement.signature | bbcode_filter('default_filter') }}</div>
						{% endif %}
					</td>   
				</tr>
				{% endif %}
			{% else %}
				<tr><td><center>Aucun commentaire pour le moment.</center></td></tr>
			{%  endfor %}
			{%  if pagination | length > 10 %}
				<tr class="pagerfanta pagination_comment">
				<td colspan="2">
					{{ pagerfanta(pagination, 'default_translated') }}
				</td>
				</tr>
			{%  endif  %}
			</table>
	{% endif %}



{% endblock %}