/* debut bbcode */
ul.bbcodeListe{
list-style: none;
}

ul.bbcodeListe li{
display: inline-block;
margin: 0px;
}

ul.bbcodeListe li img{
height: 25px;
width: 25px;
cursor: pointer;
}

ul.bbcodeListe li img:hover{
opacity: 0.5;
}

ul.bbcodeListe li ul{
display: none;
background-color: #191919;
padding: 1px;
}

li.bbcodeListe:hover ul{
display: inline-block;
position: absolute;
list-style: none;
cursor: pointer;
}

ul.bbcodeListe li.bbcodeElementMEP:hover ul li{
display: block;
text-align: center;
}

.bbcodeSizeTresPetit{
font-size: 9px;
}

.bbcodeSizePetit{
font-size: 11px;
}

.bbcodeSizeGrand{
font-size: 18px;
}

.bbcodeSizeTresGrand{
font-size: 24px;
}

.bbcodeFontArial{
font-family: Arial;
}

.bbcodeFontTimes{
font-family: "Times New Roman";
}

.bbcodeFontCourier{
font-family: "Courier New";
}

.bbcodeFontComics{
font-family: "Comic Sans MS";
}

.bbcodeColorBlack{
color: black;
}

.bbcodeColorBlue{
color: blue;
}

.bbcodeColorLightBlue{
color: lightblue;
}

.bbcodeColorRed{
color: red;
}

.bbcodeColorPurple{
color: purple;
}

.bbcodeColorGreen{
color: green;
}

.bbcodeColorDarkGreen{
color: darkgreen;
}

.bbcodeColorYellow{
color: yellow;
}

.bbcodeColorOrange{
color: darkorange;
}

/* fin bbcode */