/* debut footer */

footer{
background-color: black;
opacity: 0.9;
height: 210px;
width: 938px;
box-shadow: 0px -5px 30px #262626;
margin-top: 40px;
margin-bottom: 50px;
color: white;
padding-left: 95px;
}

footer ul{
list-style: none;
padding-top: 10px;
}

footer ul li{
display: inline;
float: left;
font-weight: bold;
}

.footer_staff{
padding-left: 80px;
}

.liste_staff{
margin-left: 0px;
}

.footer_contact{
padding-left: 90px;
}

.liste_contact{
margin-left: 75px;
}

.footer_aide{
padding-left: 105px;
}

.liste_aide{
margin-left: 110px;
}

.footer_suivre{
padding-left: 120px;
}

.liste_suivre{
padding-left: 83px;
}

footer ul li ul{
margin-top: 10px;
}

footer ul li ul li{
list-style: none;
color: white;
font-weight: 50%;
font-size: 85%;
}

.image_suivre_footer{
height: 22px;
width: 22px;
margin: 5px;
}

.image_suivre_footer:hover{
opacity: 0.8;
}

#footer_facebook{
margin-left: 40px;
background-image: url('../images/facebook.png');
}

#footer_twitter{
background-image: url('../images/twitter.png');
}

#footer_rss{
background-image: url('../images/fluxrss.png');
}

footer ul li ul li a{
color: white;
text-decoration: none;
}

footer ul li ul li a:hover{
text-decoration: underline;
}


/*  fin footer */
