/* feuille de style principale */
*{
margin: 0;
padding: 0;
}

html{
background-image: url('../images/background.gif');
background-position: center;
background-attachment: fixed;
}

a{
text-decoration: underline;
color: white;
}

body{
width: 938px;
margin: auto;
background-color: transparent;
margin-top: 20px;
margin-bottom: 10px;
font-family: "Trebuchet MS", serif;
}
/* css du header et de menu */
header a{
display: block;
margin-top: 50px;
background-image: url('./../images/Leimz_logo_transparentpetit.png');
background-position: center;
background-repeat: no-repeat;
height: 250px;
width: 938px;
background-color: transparent;
}

a[href]:hover{
color: grey;
}

*[class*="titre"]{
text-decoration: underline;
}

#corps{
margin: 10px;
background-color: #adadad;
padding: 10px;
box-shadow: 0px 0px 30px #adadad;
color: white;
min-height: 500px;
border-radius: 30px;
}

#corpsInterieur{
background-color: #191919;
padding: 5px;
margin: 3px;
}

h1{
text-align: center;
font-size: 250%;
margin-bottom: 5px;
}

.erreur, .error{
color: red;
text-decoration: blink;
}