{% extends "LeimzUtilisateurBundle::layout.html.twig" %}

{% block title %}{{ 'resetting.title'|trans({}, 'LeimzUtilisateurBundle') }}{% endblock %}


{% block fos_user_content %}

    <h1 class="resetting_title title">{{ 'resetting.title'|trans({}, 'LeimzUtilisateurBundle') }}</h1>
    <p class="resetting_explain">{{ 'resetting.explain'|trans({}, 'LeimzUtilisateurBundle') }}</p>
    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
        <div>
            {% if invalid_username is defined %}
                <p class="error resetting_error">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
            {% endif %}
            <label class="resetting_label" for="username">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>
            <input type="text" id="username" name="username" />
        </div>
        <div class="resetting_submit">
            <input type="submit" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>
    </form>

{% endblock %}