{% extends '::layout.html.twig' %}

{% block title %}Ajout/Edition d'une partie{% endblock %}

{% block body %}
    <form method="POST" {{ form_enctype(form) }} action="{{ path('whatsthat_ajouter') }}" >
        {% include '::bbcode.html.twig' %}

        {{ form_widget(form) }}

        <input type="submit" value="Publier" />
    
    </form>

{% endblock %}