{% extends '::layout.html.twig' %}

{% block title %}Qu'est-ce que c'est ?{% endblock %}

{% block body %}

    <h1>Leïmz, qu'est-ce que c'est ?</h1>
    
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <p><a href="{{ path('whatsthat_ajouter') }}">Ajouter une catégorie</a></p>
    {% endif %}
        
    {% for partie in parties %}
        {% if partie.visible == 1 %}
            <h2>{{ partie.titre }}</h2>
            <p>{{ partie.contenu | bbcode_filter('default_filter') }}</p>
        {% elseif partie.visible == 0 and is_granted('ROLE_SUPER_ADMIN') %}
            <div class="wt_invisible">
                <p style="float:right;"><a href="{{ path('whatsthat_editer', { 'id' : partie.id }) }}"><input style="display: inline;" type="button" value="Editer cette partie"/></a> 
                                        <input type="button" value="Monter" id="wtMonter" />
                                        <input type="button" value="Descendre" id ="wtDescendre" />
                <h2>{{ partie.titre }}</h2><span>(invisible pour les membres)</span>
                <p>{{ partie.contenu | bbcode_filter('default_filter') }}</p>
            </div>
        {% else %}
        {% endif %}
    {% else %}
        <p>Cette page est en cours de rédaction par l'équipe.</p>
    {% endfor %}

{% endblock %}
