{% extends "LeimzAdminBundle::layout.html.twig" %}

{% block title %}{{ 'tableau.title'|trans({}, 'LeimzAdminBundle') }}{% endblock %}

{% block body %}

        <h1 class="title admin_title">{{ 'tableau.title'|trans({}, 'LeimzAdminBundle') }}</h1>


<div class="admin_item" id="admin_membre">
	<h3>Gestion des membres</h3>
	<p><a href="{{ path('admin_voir_membres') }}">Liste des membres actifs</a></p>
	<p><a href="{{ path('admin_voir_membres_locked') }}">Liste des membres bloqués</a></p>
</div>

<div class="admin_item" id="admin_news">
	<h3>Gestion des News</h3>
	<p><a href="{{ path('admin_news_ajouter') }}">Ecrire une nouvelle news</a></p>
	<p><a href="{{ path('admin_news_brouillons') }}" >Voir les brouillons de news (pour édition puis publication)</a></p>
</div>


{% endblock %}