/* debut menu */

#jouer a{
display: block;
height: 95px;
width: 278px;
background-image: url('../images/boutonjouer0.png');
background-repeat: no-repeat;
margin: auto;
}

#jouer:hover{
opacity: 0.9;
}

#menu_droite{
float: right;
}

#menu_gauche{
float: left;
}

.titre_menu{
display: block;
margin-top: 15px;
height: 57px;
width: 330px;
}

#menu_droite .titre_menu{
background-image: -webkit-radial-gradient(50% 50% , contain, darkred 5%, black 97%);
background-image: -moz-radial-gradient(50% 50% , contain, darkred 5%, black 97%);
background-image: -o-radial-gradient(50% 50% , contain, darkred 5%, black 97%);
background-position: bottom;
background-repeat: no-repeat;
background-color: transparent;
text-align: center;
text-decoration: none;
font-size: 28px;
font-family: Arial;
color: black;
padding-top: 17px;
}

#menu_gauche .titre_menu{
background-image: -webkit-radial-gradient(50% 50% , contain, darkblue 5%, black 98%);
background-image: -moz-radial-gradient(50% 50% , contain, darkblue 5%, black 98%);
background-image: -o-radial-gradient(50% 50% , contain, darkblue 5%, black 98%);
background-position: bottom;
background-repeat: no-repeat;
background-color: transparent;
text-align: center;
text-decoration: none;
font-size: 28px;
font-family: Arial;
color: white;
padding-top: 17px;
}

#menu_gauche ul{
background-color: transparent;
z-index: 10;
}

#menu_gauche:hover ul{
background-image: -webkit-radial-gradient(50% 50% , ellipse, darkblue 5%, black 95%);
background-image: -moz-radial-gradient(50% 50% , ellipse, darkblue 5%, black 95%);
background-image: -o-radial-gradient(50% 50% , ellipse, darkblue 5%, black 95%);
}

#menu_droite ul{
background-color: transparent;
z-index: 10;
}

#menu_droite:hover ul{
background-image: -webkit-radial-gradient(50% 50% , ellipse, darkred 5%, black 95%);
background-image: -moz-radial-gradient(50% 50% , ellipse, darkred 5%, black 95%);
background-image: -o-radial-gradient(50% 50% , ellipse, darkred 5%, black 95%);
}

.menu ul{
overflow:hidden;
width: 318px;
list-style: none;
position: absolute;
text-align: center;
height: 0px;
margin-top: 0px;
margin-left: 1px;
padding: 5px;
/* transition-property: height;
transition-duration: 550ms;
-webkit-transition-property: height, width;
-webkit-transition-duration: 550ms;
-moz-transition-property: height;
-moz-transition-duration: 550ms;
-o-transition-property: height;
-o-transition-duration: 550ms; */
}

.menu:hover ul{
display: block;
height: 230px;
}

.menu ul li a{
text-decoration: none;
color: #979797;
display: block;
margin: 3px;
font-size: 115%;
}

#menu_gauche ul li a:hover{
color: white;
}

#menu_droite ul li a:hover{
color: black;
}

/* fin menu */
