/* debut bbcode */
ul.bbcodeListe{
list-style: none;
}

ul.bbcodeListe li{
display: inline-block;
margin: 0px;
}

ul.bbcodeListe li img{
height: 32px;
width: 32px;
cursor: pointer;
}

ul.bbcodeListe li img:hover{
opacity: 0.5;
}

ul.bbcodeListe li ul{
display: none;
background-color: #191919;
padding: 1px;
}

li.bbcodeListe:hover ul{
display: inline-block;
position: absolute;
list-style: none;
cursor: pointer;
}

ul.bbcodeListe li.bbcodeElementMEP:hover ul li{
display: block;
text-align: center;
}

.bbcodeSizeTresPetit{
font-size: 9px;
}

.bbcodeSizePetit{
font-size: 11px;
}

.bbcodeSizeGrand{
font-size: 18px;
}

.bbcodeSizeTresGrand{
font-size: 24px;
}

.bbcodeFontArial{
font-family: Arial;
}

.bbcodeFontTimes{
font-family: "Times New Roman";
}

.bbcodeFontCourier{
font-family: "Courier New";
}

.bbcodeFontComics{
font-family: "Comic Sans MS";
}

.bbcodeColorBlack{
color: black;
}

.bbcodeColorBlue{
color: blue;
}

.bbcodeColorLightBlue{
color: lightblue;
}

.bbcodeColorRed{
color: red;
}

.bbcodeColorPurple{
color: purple;
}

.bbcodeColorGreen{
color: green;
}

.bbcodeColorDarkGreen{
color: darkgreen;
}

.bbcodeColorYellow{
color: yellow;
}

.bbcodeColorOrange{
color: darkorange;
}

/* fin bbcode */

/* debut footer */

footer{
background-color: black;
opacity: 0.9;
height: 210px;
width: 938px;
box-shadow: 0px -5px 30px #262626;
margin-top: 40px;
margin-bottom: 50px;
color: white;
padding-left: 95px;
}

footer ul{
list-style: none;
padding-top: 10px;
}

footer ul li{
display: inline;
float: left;
font-weight: bold;
}

.footer_staff{
padding-left: 80px;
}

.liste_staff{
margin-left: 0px;
}

.footer_contact{
padding-left: 90px;
}

.liste_contact{
margin-left: 75px;
}

.footer_aide{
padding-left: 105px;
}

.liste_aide{
margin-left: 110px;
}

.footer_suivre{
padding-left: 120px;
}

.liste_suivre{
padding-left: 83px;
}

footer ul li ul{
margin-top: 10px;
}

footer ul li ul li{
list-style: none;
color: white;
font-weight: 50%;
font-size: 85%;
}

.image_suivre_footer{
height: 22px;
width: 22px;
margin: 5px;
}

.image_suivre_footer:hover{
opacity: 0.8;
}

#footer_facebook{
margin-left: 40px;
background-image: url('../images/facebook.png');
}

#footer_twitter{
background-image: url('../images/twitter.png');
}

#footer_rss{
background-image: url('../images/fluxrss.png');
}

footer ul li ul li a{
color: white;
text-decoration: none;
}

footer ul li ul li a:hover{
text-decoration: underline;
}


/*  fin footer */

/* feuille de style principale */
*{
margin: 0;
padding: 0;
}

html{
background-image: url('../images/background.gif');
background-position: center;
background-attachment: fixed;
}

a{
text-decoration: underline;
color: white;
}

body{
width: 938px;
margin: auto;
background-color: transparent;
margin-top: 20px;
margin-bottom: 10px;
font-family: "Trebuchet MS", serif;
}
/* css du header et du menu */
header a{
display: block;
margin-top: 50px;
background-image: url('./../images/Leimz_logo_transparentpetit.png');
background-position: center;
background-repeat: no-repeat;
height: 250px;
width: 938px;
background-color: transparent;
}

a[href]:hover{
color: grey;
}

*[class*="titre"]{
text-decoration: underline;
}

#corps{
margin: 10px;
background-color: #adadad;
padding: 10px;
box-shadow: 0px 0px 30px #adadad;
color: white;
min-height: 500px;
border-radius: 30px;
}

#corpsInterieur{
background-color: #191919;
padding: 5px;
margin: 3px;
}

h1{
text-align: center;
font-size: 250%;
margin-bottom: 5px;
}

.erreur, .error{
color: red;
text-decoration: blink;
}

/* debut menu */

#jouer a{
display: block;
height: 95px;
width: 278px;
background-image: url('../images/boutonjouer0.png');
background-repeat: no-repeat;
margin: auto;
}

#jouer{
width: 278px;
margin: auto;
}

#jouer:hover{
opacity: 0.9;
}

#menu_droite{
float: right;
}

#menu_gauche{
float: left;
}

.titre_menu{
display: block;
margin-top: 15px;
height: 57px;
width: 330px;
}

#menu_droite .titre_menu{
background-image: -webkit-radial-gradient(50% 50% , contain, darkred 5%, black 97%);
background-image: -moz-radial-gradient(50% 50% , contain, darkred 5%, black 97%);
background-image: -o-radial-gradient(50% 50% , contain, darkred 5%, black 97%);
background-position: bottom;
background-repeat: no-repeat;
background-color: transparent;
text-align: center;
text-decoration: none;
font-size: 28px;
font-family: Arial;
color: black;
padding-top: 17px;
}

#menu_gauche .titre_menu{
background-image: -webkit-radial-gradient(50% 50% , contain, darkblue 5%, black 98%);
background-image: -moz-radial-gradient(50% 50% , contain, darkblue 5%, black 98%);
background-image: -o-radial-gradient(50% 50% , contain, darkblue 5%, black 98%);
background-position: bottom;
background-repeat: no-repeat;
background-color: transparent;
text-align: center;
text-decoration: none;
font-size: 28px;
font-family: Arial;
color: white;
padding-top: 17px;
}

#menu_gauche ul{
background-color: transparent;
z-index: 10;
}

#menu_gauche ul{
background-image: -webkit-radial-gradient(50% 50% , ellipse, darkblue 5%, black 95%);
background-image: -moz-radial-gradient(50% 50% , ellipse, darkblue 5%, black 95%);
background-image: -o-radial-gradient(50% 50% , ellipse, darkblue 5%, black 95%);
}

#menu_droite ul{
background-color: transparent;
z-index: 10;
}

#menu_droite ul{
background-image: -webkit-radial-gradient(50% 50% , ellipse, darkred 5%, black 95%);
background-image: -moz-radial-gradient(50% 50% , ellipse, darkred 5%, black 95%);
background-image: -o-radial-gradient(50% 50% , ellipse, darkred 5%, black 95%);
}

.menu ul{
overflow:hidden;
width: 318px;
list-style: none;
position: absolute;
text-align: center;
height: 0px;
margin-top: 0px;
margin-left: 1px;
padding: 5px;
}

.menu ul{
display: block;
height: 230px;
}

.menu ul li a{
text-decoration: none;
color: #979797;
display: block;
margin: 3px;
font-size: 115%;
}

#menu_gauche ul li a:hover{
color: white;
}

#menu_droite ul li a:hover{
color: black;
}

/* fin menu */

.image_news{
height: 140px;
width: 140px;
float: left;
margin: 5px;
}

.news_table{
margin-left: 30px;
margin-right: 30px;
}

.news_titre{
fon-decoration: underline;
font-size: 150%;
}

.news_colonne{
padding-bottom: 30px;
}

.news_date{
padding-left: 195px;
}

.pagination{
text-align : center;
margin-bottom: 20px;
}

.pagination nav a{
padding-left: 2px;
padding-right: 2px;
text-decoration: none;
}

span.current{
font-weight: 250%;
font-size: 125%;
padding-left: 2px;
padding-right: 2px;
}

.news_image{
float: left;
margin: 10px;
margin-left: 30px;
margin-bottom: 5px;
}

.news_corps{
margin-left: 30px;
margin-right: 30px;
margin-top: 10px;
margin-bottom: 10px;
}

.news_boutons{
margin-left: 30px;
margin-right: 30px;
text-align: center;
}

.news_boutons a{
padding: 2px;
}

.date{
font-style: italic;
}

.news_contenu{
text-indent: 25px;
}

.edit{
text-indent: 25px;
}

.comments_table{
border-collapse: collapse;
margin: 5px;
margin-top: 20px;
width: 830px;
}

.comments_table tr td{
border: 1px solid white;
padding: 3px;
}

.pagination_comment td{
text-align: center;
}

.pagination_comment td nav *{
margin-left: 2px;
margin-right: 2px;
}

.comment_titres{
text-align:center;
text-decoration: underline;
font-weight: bold;
}

.comment_auteur{
width: 20%;
}

.col_auteur{
text-align: center;
weight: 100%;
}

.comment_line{
min-height: 170px;
}

.col_content{
padding: 3px;
}

.comment_content{
text-indent: 30px;
}

.comment_form{
margin-top: 25px;
padding-left: 5px;
padding-right: 5px;
}

.comment_form input[type="submit"]{
text-align: center;
padding: 2px;
}

.comment_form label{
margin-top: 5px;
margin-bottom: 5px;
}

#news_post_form{
margin-left: 20px;
}

#news_post_form input[type="text"]{
float: right;
margin-right: 470px;
}

.addNewsLabel{
width: 200px;
text-align: center;
margin:2px;
}

.addNewsLabel[for="news_titre"]{
margin-top: 15px;
}

.image_news_explain{
text-indent: 30px;
margin-bottom: 10px;
fony-style: italic;
}

label[for="news_contenu"]{
text-indent: 15px;
}

#news_post_form .bbcode{
margin: 5px;
}

input[id="news_brouillon"]{
float: right;
margin-right: 700px;
margin-top: 5px;
margin-bottom: 5px;
}

#news_post_form input[type="submit"]{
padding: 3px;
margin-left: 200px;
margin-top: 5px;
margin-bottom: 10px;
}

.brouillons_table{
border-collapse: collapse;
border: 1px solid white;
margin: 10px;
width: 830px;
}

.brouillons_line_titre td{
border: 1px solid white;
padding: 2px;
text-align: center;
text-decoration: none;
font-weight: bold;
}

.brouillons_line td{
border: 1px solid white;
padding: 2px;
text-align: center;
}

.comment_suppression{
text-align:center;
margin-top: 20px;
margin-bottom: 20px;
}

.comment_signature{
text-align: center;
border-top: 1px solid white;
margin-right: 5px;
margin-left: 5px;
padding-top: 3px;
padding-bottom: 3px;
margin-top: 3px;
}