{% extends "::layout.html.twig" %}

{% block title %}{% if type == 1 %}
								{{ 'admin.ajouter.title.add' | trans({}, 'LeimzNewsBundle') }}
						{% else %}
						{{ 'admin.ajouter.title.edit' | trans({}, 'LeimzNewsBundle') }}
						{% endif %}{% endblock %}

{% block body %}

		<h1>{% if type == 1 %}
								{{ 'admin.ajouter.title.add' | trans({}, 'LeimzNewsBundle') }}
						{% else %}
						{{ 'admin.ajouter.title.edit' | trans({}, 'LeimzNewsBundle') }}
						{% endif %}</h1>
	{% if message1 == '1' %}
	<p>{{ 'admin.ajouter.notfound' | trans({}, 'LeimzNewsBundle') }}</p>
	{% endif %}
	{% if message1 == '2' %}
	<p>{{ 'admin.ajouter.edit' | trans({}, 'LeimzNewsBundle') }}</p>
	{% endif %}
	{% if message1 == '3' %}
	<p>{{ 'admin.ajouter.add' | trans({}, 'LeimzNewsBundle') }}</p>
	{% endif %}
	
	
	<form action="" method="post" {{ form_enctype(form) }} id="news_post_form">
	
		{{ form_widget(form.titre) }}
		<label for="news_titre" class="addNewsLabel">{{ 'admin.ajouter.label.title' | trans({}, 'LeimzNewsBundle') }}</label>
		
		{{ form_widget(form.Image) }}
		<label for="news_image" class="addNewsLabel">{{ 'admin.ajouter.label.image' | trans({}, 'LeimzNewsBundle') }}</label>
		
		<div class="image_news_explain">{{ 'admin.ajouter.label.imageExplain' | trans({}, 'LeimzNewsBundle') }}</div>
		
				{{ form_label(form.contenu,  'admin.ajouter.label.contenu' | trans({}, 'LeimzNewsBundle') ) }}
		{% include "::bbcode.html.twig" %}
				{{ form_widget(form.contenu) }}
			<div>
				{{ form_widget(form.brouillon) }}
				{{ form_label(form.brouillon, 'Mettre en brouillon') }}
			</div>
				
		{{ form_rest(form) }}
		<input type="submit" value=" {{ 'admin.ajouter.submit' | trans({}, 'LeimzNewsBundle') }} " />
	</form>
<script type="text/javascript" >
	var champTexte = document.getElementById('news_contenu');
	</script>
{% endblock %}