{% extends '::layout.html.twig' %}
{%  block title %}News en brouillon{% endblock %}

{% block body %}
	<h1>News en brouillon</h1>
	
		<p class="brouillons_explain">Pour publier une news, décochez la case "Mettre en brouillon" lors de l'édition.</p>
		<table class="brouillons_table">
			<tr class="brouillons_line_titre">
				<td class="brouillons_titre_col">Titre</td>
				<td class="brouillons_datetitre_col">Date</td>
				<td class="brouillons_auteurs_col">Auteur(s)</td>
				<td class="brouillons_actions_col">Actions</td>
			</tr>
	
	{% for new in news %}
		<tr class="brouillons_line">
			<td class="brouillons_title"><a href="{{ path('news_consulter', { 'id' : new.id, } ) }} ">{{ new.titre }}</a></td>
			<td class="brouillons_date">{{ new.date | date('d/m/Y') }}</td>
			<td class="brouillons_auteurs">{% set i = 0 %}{% for auteur in new.auteur %}{% set i = i+1 %}{% if i > 1 %}, {% endif %}<a href="{{ path('fos_user_profile_show') }}?pseudo={{ auteur }}">{{ auteur }}</a>{% endfor %}</td>
			<td class="brouillons_actions">
				<a href="{{ path('admin_news_editer', { 'id' : new.id, } ) }}" >Editer cette news</a> 
				<a href="{{ path('admin_news_supprimer', { 'id' : new.id, } ) }}">Supprimer cette news</a>
				<a href="{{ path('admin_news_previsualisation', { 'news' : new.id, } ) }}">Prévisualisation</a>
			</td>
		</tr>
		
	{%  else %}
		
		<tr><td colspan="4">Toute les news mises en brouillon ont été publiées </td></tr>
	
	{% endfor %}
		</table>
	
	
{% endblock %}