{% extends "::layout.html.twig" %}

{% block title %}Suppression d'un commentaire{% endblock %}

{% block body %}
	<h1>Suppression d'un commentaire</h1>
	{% if confirm == 0 %}
		<center><p class="comment_suppression">Êtes vous sûr(e) de vouloir supprimer le commentaire de <a href="{{ path('fos_user_profile_show') }}?pseudo={{ commentaire.getAuteur }}" >{{ commentaire.getAuteur }}</a> ?<br/>
			<a href="{{ path('admin_news_supprimer_commentaire_confirm', { 'id' : commentaire.id, 'confirm' : 1 } ) }}">
				<input type="button" value="  Oui  " />
			</a>
			<a href="{{ path('news_homepage') }}" >
				<input type="button" value="  Non  " />
			</a>
		</p></center>
	{% else %}
		<p>{{ message }}</p>
	{% endif %}


{% endblock %}