{% extends "::layout.html.twig" %}

{% block title %} Suppression d'une news {% endblock %}

{% block body %}
<h1>Suppression d'une news</h1>
	{% if confirm == 0 %}
	
	
		<p>Êtes vous sûr(e) de vouloir supprimer la news "{{ news.titre }}" ?<br/>
			<a href="{{ path('admin_news_supprimer_confirm', { 'id' : news.id, 'confirm' : 1 } ) }}">
				<input type="button" value="  Oui  " />
			</a>
			<a href="{{ path('news_homepage') }}" >
				<input type="button" value="  Non  " />
			</a>
		</p>
	{% else %}
		<p>{{ message }}</p>
	{% endif %}
{% endblock %}