{% extends "::layout.html.twig" %}

{% block title %}Verrouillage d'une news{% endblock %}

{% block body %}
	{% if message %}
		<p>{{ message }}</p>
	{% else %}
		<p>Êtes vous sûr(e) de vouloir {% if news.locked == true %}déverrouiller{% else %}verrouiller{% endif %}
			la news "{{ news.titre }}" ?<br/>
			<a href="{{ path('admin_news_verrouiller_confirm', { 'id' : news.id, 'confirm' : 1 } ) }}" >
				<input type="button" value="  Oui  " />
			</a>
			<a href="{{ path('news_homepage') }}" >
				<input type="button" value="  Non  " />
			</a>
		</p>
	{% endif %}
{% endblock %}