{% extends 'LeimzUtilisateurBundle::layout.html.twig' %}

{% block title %}Complétion de vos informations{% endblock %}

{% block body %}

	<h1>Complétion de vos informations</h1>
	<i class="completion_infos">Tous ces champs sont facultatifs, les informations données ici seront visibles par les autres membres sur votre profil et sur certaines pages du site.</i>
	<form action="{{ path('modifier_complement') }}" {{ form_enctype(form) }} method="POST" id="completion_infos_form" >
		{{ form_label(form.signature, 'Entrez ici votre signature, elle apparaîtra en dessous de vos messages sur le forum :') }}
		{% include('::bbcode.html.twig') %}
		{{ form_widget(form.signature) }}
		
		<div class="sexe_widget">
			{{ form_label(form.sexe, 'Votre sexe :') }}
			{{ form_widget(form.sexe) }}
		</div>
                
                <div class="show_mail">
                        <div id="complement_pub_mail">{{ form_widget(form.pubEmail) }}</div>
                        <div>{{ form_label(form.pubEmail, 'Montrer son email aux autres membres :') }}</div>
		</div>
		
		{{ form_label(form.description, 'Decrivez vous en quelques lignes :') }}
		{{ form_widget(form.description) }}
		
		{{ form_label(form.birthdate, 'Votre de date de naissance (jour-mois-année) :') }}
		{{ form_widget(form.birthdate) }}
		
		<div id="radios_typeAvatar">
		{{ form_label(form.typeAvatar, 'Choisissez de quelle manière vous désirez sélectionner votre avatar :') }}
		{{ form_widget(form.typeAvatar) }}
		</div>
		
		<div id="avatar_url">
			{{ form_label(form.avatar, 'URL de l\'image :') }}
			{{ form_widget(form.avatar) }}
		</div>
		
		<div id="avatar_liste">
			<p>Liste d'avatars disponibles :</p>
			<table class="image_avatar">
				<tr>
					<td>
						<label for="avatar_1" ><img src="{{ asset('bundles/leimzutilisateur/images/avatars/1.jpg') }}" width="120px" height="120px"  id="image_avatar_1" class="element_avatar"/></label>
						<input type="radio" name="liste_avatar" id="avatar_1" value="1" ></input>
					</td>
					<td>
						<label for="avatar_2" ><img src="{{ asset('bundles/leimzutilisateur/images/avatars/2.jpg') }}" width="120px" height="120px"   id="image_avatar_2" class="element_avatar"/></label>
						<input type="radio" name="liste_avatar" id="avatar_2" value="2" ></input>
					</td>
					<td>
						<label for="avatar_3" ><img src="{{ asset('bundles/leimzutilisateur/images/avatars/3.jpg') }}" width="120px" height="120px"  id="image_avatar_3" class="element_avatar" /></label>
						<input type="radio" name="liste_avatar" id="avatar_3" value="3" ></input>
					</td>
				</tr>
			</table>
		</div>
	
		{{ form_rest(form) }}
		<div></div>
		<input type="submit" value="Valider mes informations" />
	</form>
	
	<script type="text/javascript" >
	
		var champTexte = document.getElementById('complement_signature');

			if($('input[id="complement_typeAvatar_0"]:checked').val())
			{
				$("#avatar_liste").hide();
				$("#avatar_url").show();
			}

			if($('input[id="complement_typeAvatar_1"]:checked').val())
			{
				$("#avatar_url").hide();
				$("#avatar_liste").show();
			}

			$('input[name="liste_avatar"]').hide();
                        
                        $('.element_avatar').attr('style','border : 4px solid #191919;');

			
			$('#radios_typeAvatar').change( function(){

				if($('input[id="complement_typeAvatar_0"]:checked').val())
				{
					$("#avatar_liste").hide(1000);
					$("#avatar_url").show(500);

					
				}

				if($('input[id="complement_typeAvatar_1"]:checked').val())
				{
					$("#avatar_url").hide(500);
					$("#avatar_liste").show(1000);
				}
				
			});

			$('input[name="liste_avatar"]').change(function() {

				$('#complement_avatar').val($('input[name="liste_avatar"]:checked').val());
				var nombreAvatars = 3;
				var i = 0;

				while(i<nombreAvatars)
				{
					i++;
					if($('input[id="avatar_'+ i +'"]:checked').val())
					{
						$('.element_avatar').attr('style','border : 4px solid #191919;');
						$('img[id="image_avatar_'+ i +'"]').attr('style','border : 4px solid white; opacity: 0.7;');
					}
				}
			});

		
	</script>
	
	
	
{% endblock %}